$text-font: 'Poppins', sans-serif;
$header-font: 'Montserrat', sans-serif;
$nav-text-size: 2em;
$text-header-size: 1.5em;
$text-size: 0.8em;
$text-sub-header-size: 1em;
$primary-colour: #FFFFFF;
$accent-colour: #000000;
$primary-dark-colour: #DCDCDC;
$nav-link-hover-background-colour: #070826;
$nav-link-hover-text-colour: #C2F2E5;
