/* ---- Navigation Bar ----
defining unordered list, with a banner using overflow etc*/
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;

}


/*custom list items, text size and alignment*/
li a{
    font-family: 'Poppins' sans-serif;
    font-size: 23px;
    display: flow-root;
    color: black;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;


}

/*user visually can see the mouse hover*/
li a:hover:not(.active) {
    /*    background-image: url(b3.jpg);*/
    color: darkgray;
    font-family: 'Poppins' sans-serif;
    font-size: 20px;
    transition-duration: 0.4s;

}
