
html {

    background: #e6e8ed;

}

body {
    color: #000000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}
/*header customisation*/
h1 { color: #000000; font-family: "Helvetica"; font-size: 30px; font-weight: 700; line-height: 0px; margin: 0 0 0; padding: 0px 0px; text-align: right; text-transform: none; transform: translate(23%, 0px);
}

p.Header{
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 2em;
    display: inline-block;
    margin: 0;

}

p.BoxHeader{    
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1.1em;
    color: black;
    display: inline-block;
    margin: 0;
}

p.BoxHeader:after{
    content: '';
    display: block;
    margin: auto;
    height: 0.15em;
    width: 0px;
    /*    background: transparent;*/
    -webkit-transition: width .35s ease, background-color .35s ease;
    transition: width .35s ease, background-color .35s ease;
}

a {
    text-decoration: none;
}

a:hover p.BoxHeader:after{
    width: 100%;
    background: black;
}

p.BoxDescription {
    font-family: "Georgia";
    font-size: 1em;
    width: 100%;
    color: black;
}

div.sideSection{
    margin: auto;
    float: left;
    margin-left: 10%;
    margin-top: 4%;
}

p.sideHeader{
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1.1em;
    padding-bottom: 1em;
    display: inline-block;
    margin: 0;
    color: black;
}

p.sideHeader:after{
    content: '';
    display: block;
    margin: auto;
    height: 0.15em;
    width: 0px;
    /*    background: transparent;*/
    -webkit-transition: width .35s ease, background-color .35s ease;
    transition: width .35s ease, background-color .35s ease;
}

a.side {
    text-decoration: none;
}

a.side:hover p.sideHeader:after{
    width: 100%;
    background: black;
}


section {
    z-index: 0;
    margin: auto;
    padding: 1em;
    width: 50%;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


}

.flex:nth-of-type(n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*    width: 50%;*/
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    background-color: #f2f2f2;
    border: 0.5em solid white;
    cursor:pointer;
}

ul.Skills {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

ul.Skills li {
    display: inline-block;
    background-color: #a9a9a9;
    border: 0.2em solid #a9a9a9;
    border-radius: 0.6em;
    margin-right: 0.2em;
    /*    margin-top: 1em;*/
    color: #fff;
    padding: 0 0.2em;
}



#autoScrollButton {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    /*left: 50%;*/
    z-index: 99;
    font-size: 1em;

    border: none;
    outline: none;

    background-color: coral;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 0.5em;

    transition: background-color 0.4s;

}

#autoScrollButton:hover {
    background-color: #555;
    color: white;
}

input[type=submit] {
    background-color: chocolate;
    position: relative;
    color: white;
    padding: 12px 10px;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    width: 100%;

}

/*close button */
.closeButton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

button.leftArrow{
    display: inline-block;
    height: 2em;
    width: 2em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-decoration: none;
    background-color: white;
    border: none;
    margin-left: 40%;
    cursor: pointer;
    background: url(../java_projects/left_arrow.png);
    background-repeat:no-repeat;
    background-size:contain;

}

button.rightArrow{
    display: inline-block;
    height: 2em;
    width: 2em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-decoration: none;
    background-color: white;
    border: none;
    cursor: pointer;
    background: url(../java_projects/right_arrow.png);
    background-repeat:no-repeat;
    background-size:contain;

}


div.imagesDiv{
    padding: 0.8em;
    margin: 0;
    text-align: center;
    position: relative;
    margin-right: 25%;
    margin-left: 25%;

}

img.slideShow{
    cursor: zoom-in;
}

p.overviewDescription{
    font-family: "Georgia";
    font-size: 1.2em;
    width: 100%;
    color: black;
}

ul.overviewList {
    display: block;
    font-family: "Georgia";
    font-size: 1.2em;
    list-style-type: circle;
    margin-top: -1em;
    float: left;
}

ul.overviewList li {
    color: black;
}

a.githubLink {
    text-decoration: none;
}
p a.githubLink{
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #FF0000;
    transition: background-color 0.4s;
}
p a.githubLink:hover{
    border-bottom: 3px solid #FF0000;
    background-color: white;
}




