
html {

    background: #e6e8ed;

}

body {
    color: #000000;
    font-family: "Helvetica Neue";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}
/*header customisation*/
h1 { color: #000000; font-family: "Helvetica"; font-size: 30px; font-weight: 700; line-height: 0px; margin: 0 0 0; padding: 0px 0px; text-align: right; text-transform: none; transform: translate(23%, 0px);
}

div.Description{
    height: 0px;
    font-size: 21px;
    width: 50%;
    position: relative;
}
div.Description p {
    font-family: "Georgia";
    margin: 0;
    position: absolute;
    text-align: left;
    margin-top: 10%;
    margin-right: -110%;

}

p.Question {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1.5em;
    left: 50%;
    margin: 0;
    color: #000000;
    position: relative;
}

p.Paragraph {
    font-family: "Helvetica";
    font-size: 1em;
    margin: 0;
    left: 50%;
    color: #000000;
    position: relative;
    max-width: 100%;
}


a {
    text-decoration: none;
}
p a{
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #FF0000;
    transition: background-color 0.4s;
}
p a:hover{
    border-bottom: 3px solid #FF0000;
    background-color: white;
}

p.boxHeader {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1.5em;
    /*    border-radius: 1em;*/
    background-color: #f2f2f2;
    padding: 0.8em;
    margin: 0;
    text-align: center;
    color: black;
    position: relative;
    margin-right: 25%;
    margin-left: 25%;
}

section {
    width: 50%;
    height: 20em;
    margin: auto;
    padding: 1em;
    display: flex;

}

div.githubBox {
    /*    border-radius: 1px;*/
    background-color: #f2f2f2;

    height: 20em;
    position: relative;
    /*    margin-top: 1%;*/
    width: 15em;
    /*
    margin-right: 60%;
    margin-left: 25%;
    */
    float: left;
    border: 0.5em solid white;
    cursor:pointer;
    display: block;
}
.githubBox:hover {
    background-color:darkgray;
    text-decoration:none;
    color:white;
}

div.githubBox p {
    font-family: "Georgia";
    font-size: 1.5em;
    padding-top: 0.5em;
    top: 1%;
    text-align: center;
    color: black;
    position: absolute;
}

div.emailBox {
    /*    border-radius: 1px;*/
    background-color: #f2f2f2;
    height: 20em;
    position: relative;
    width: 15em;
    /*    margin-right: 40%;*/
    margin-left: 50%;

    cursor:pointer;
    display: block;
}
.emailBox:hover {
    background-color:darkgray;
    text-decoration:none;
    color:white;
}

div.emailBox p {
    font-family: "Georgia";
    font-size: 1.5em;
    padding-top: 0.5em;
    top: 1%;
    text-align: center;
    color: black;
    position: absolute;
}
div.linkedinBox {
    /*    border-radius: 1px;*/
    background-color: #f2f2f2;
    height: 20em;
    position: relative;
    width: 15em;
    /*    left: 15%; */

    /*
    margin-right: 40%;
    margin-left: 45%;
    */
    border: 0.5em solid white;

    /*    float: right;*/

    cursor:pointer;
    display: block;
}
.linkedinBox:hover {
    background-color:darkgray;
    text-decoration:none;
    color:white;
}

div.linkedinBox p {
    font-family: "Georgia";
    font-size: 1.5em;
    padding-top: 0.5em;
    top: 1%;
    text-align: center;
    color: black;
    position: absolute;
}

p.Header{    
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 35%;
    margin-top: -5%;
    position: absolute;
    text-align: center;
    text-decoration: underline;

}



input[type=submit] {
    background-color: chocolate;
    position: relative;
    color: white;
    padding: 12px 10px;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    width: 100%;

}

/*close button */
.closeButton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

