$text-font: 'Poppins', sans-serif;
$header-font: 'Montserrat', sans-serif;
$title-font: 'Permanent Marker', cursive;
$large-nav-text-size: 4em;
$nav-text-size: 2em;
$text-header-size: 1.5em;
$text-size: 1em;
$primary-colour: #FFFFFF;
$accent-colour: #000000;
$primary-dark-colour: #DCDCDC;
$primary-darker-colour: #A9A9A9;
$nav-link-hover-background-colour: #070826;
$nav-link-hover-text-colour: #C2F2E5;
$nav-banner-color: $primary-colour;
$box-shadow-color: #070826;
