@import './dimens.scss';
/* <!--            check it out -- https://envato.com/blog/css-snippets-responsive-menus/-->*/
// multi colors - https://blog.prototypr.io/css-only-multi-color-backgrounds-4d96a5569a20

.navigation-container {
    background: $nav-banner-color;
    width: 10%;
    float: left;
    height: 100%;
    position: fixed;
    z-index: 100;

    background: linear-gradient(110deg, #070826 60%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #302b63 4%, #24243e 70%);
}

.navigation-container p {
    font-size: $text-header-size;
    font-family: $header-font;
    margin: 1em;
    color: white;
    bottom: 5%;
    position: fixed;
}

.navigation-container p a {
    font-size: 0.8em;
    color: white;
    bottom: 4%;
    position: fixed;
    margin-left: -4%;
}

div.iconPosition {
    display: inline-block;
    cursor: pointer;
    z-index: 0;
    position: relative;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: $primary-colour;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    margin: auto;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $primary-colour;
    color: $accent-colour;
    font-size: $nav-text-size;
    font-family: $text-font;
}

/* display dropdown menu on hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: $accent-colour;
    padding: 0.5em;
    text-decoration: none;
    display: block;
    font-family: $text-font;
    margin-right: 10%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: $nav-link-hover-background-colour;
    color: $nav-link-hover-text-colour;
}

/* Show the dropdown menu (used in nav_bar.js) */
.show {
    // dispslay: block;
}

/* Define menu positions */
.dropdown-content.menu-one {
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100500;
    opacity: .96;
    background: $primary-colour;
    text-align: center;
}

/*Media Queries*/
@media(max-width:424px) {

    .dropdown {
        left: -14%;
    }

    .dropdown-content {
        margin-left: -3.5em;
    }

}

@media (min-width:425px) and (max-width:480px) {

    .dropdown {
        left: -10%;
    }

    .dropdown-content {
        margin-left: -3.5em;
    }

}

@media (min-width:481px) and (max-width:768px) {
    .dropdown {
        left: -5%;
    }

    .dropdown-content {
        margin-left: -3.5em;
    }

    .dropdown-content a {
        margin-right: 0%;
    }

    .dropdown:hover .dropdown-content{
        margin-left: -10%;
    }

    .navigation-container {
        width: 0%;
        position: relative;
        margin-top: 5%;
    }

    .navigation-container p a{
        visibility: hidden;
    }

    .navigation-container p b {
        visibility: hidden;
    }
}

@media(min-width: 769px) and (max-width: 1024px) {

    .dropdown {
        left: -2%;
    }

    .dropdown-content {
        margin-left: -3.2em;
    }

    .navigation-container {
        width: 13%;
    }

    .navigation-container p a {
        margin-left: -6%;
    }

    .dropdown-content.menu-one {
        margin-left: 2%;
    }
}