@import './dimens.scss';

@mixin height_weight {
    height: 100%;
    width: 100%;
}

@mixin body_text {
    font-family: $text-font;
    font-size: $text-size;
    line-height: 1.5;
    margin: 0 auto;
}

html {
    background: $primary-colour;
    @include height_weight;
}

body {
    color: $accent-colour;
    @include height_weight;
    @include body_text;
}

div.Description {
    height: 100%;
    margin-top: 1%;
    font-size: $text-size;
    width: 75%;
    position: relative;
    display: block;
    text-align: justify;
    text-justify: inter-word;
}

div.Description p {
    // font-family: $text-font;
    margin: 0;
    position: relative;
    text-align: left;
    margin-right: -25%;
    margin-left: -25%;
    width: 100%;
}

p.subHeader {
    font-family: $title-font;
    font-weight: 700;
    font-size: $large-title-text-size;
    left: 44%;
    width: 100%;
    margin: 0;
    color: $accent-colour;
    position: relative;
}

p.Paragraph {
    font-family: $text-font;
    font-size: 1em;
    margin: 0;
    left: 45%;
    color: $accent-colour;
    position: relative;
    max-width: 100%;
    display: inline-block;
    text-align: justify;
}

p.highlight {
    font-family: $text-font;
    font-size: $text-header-size;
    margin: 0;
    left: 45%;
    color: dimgrey;
    position: relative;
    max-width: 100%;
    display: inline-block;
}

a {
    text-decoration: none;
}

p a {
    color: $accent-colour;
    font-weight: bold;
    border-bottom: 0.1em solid Red;
    transition: background-color 0.4s;
}

p a:hover {
    border-bottom: 0.2em solid Red;
    background-color: bisque;
    color: $accent-colour;
    text-decoration: none;
}

p.boxHeader {
    font-family: $title-font;
    font-weight: 700;
    font-size: $large-title-text-size;
    margin: 0;
    color: $accent-colour;
    position: relative;
    margin-left: 25%;
    margin-bottom: 1%;
}

div.polygon-shape {
    height: 7em;
    width: 10em;
    float: left;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#email-background {
    background: url(../images/gmail.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#github-background {
    background: url(../images/github-sign.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#linkedin-background {
    background: url(../images/linkedin.png);
    background-size: contain;
    background-repeat: no-repeat;
}

section {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
}

.no-underline {
    text-decoration: none !important
}

p.Header {
    font-family: $header-font;
    font-weight: 700;
    font-size: $text-header-size;
    margin-left: 35%;
    margin-top: -5%;
    position: relative;
    text-align: center;
    text-decoration: underline;
}

p.linkedInHeader {
    font-family: $header-font;
    font-weight: 700;
    font-size: $text-header-size;
    margin-left: 30%;
    margin-top: -5%;
    position: absolute;
    text-align: center;
    text-decoration: underline;
}

#chartdiv {
    position: relative;
    top: 50%;
    width: 50%;
    height: 500px;
}

#autoScrollButton {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    font-size: $text-size;
    border: none;
    outline: none;
    background-color: $nav-link-hover-text-colour;
    color: $accent-colour;
    cursor: pointer;
    padding: 1em;
    border-radius: 0.5em;
    transition: background-color 0.4s;
}

#autoScrollButton:hover {
    background-color: $nav-link-hover-background-colour;
    color: $nav-link-hover-text-colour;
}

div.graph {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: -29%;
    margin-top: -4%;
}

#desktopVersion {
    visibility: hidden;
}

.top-banner {
    position: relative;
    height: 20em;
    background: $nav-link-hover-background-colour;
    transform-origin: bottom right;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 60px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 60px));
    z-index: 0;
}

.top-banner p.header {
    color: $primary-colour;
    font-size: $large-nav-text-size;
    font-family: $banner-title-font;
    text-align: center;
    position: relative;
    top: 25%;
}

/* Media Queries */
@media (min-width: 375px) and (max-width: 425px) {
    section {
        width: 80%;
        height: 0%;
        margin: 0;
        display: inline-block;
        position: relative;
    }

    div.githubBox {
        float: none;
        width: 120%;
        left: 1%;
        height: 16em;
    }

    div.linkedinBox {
        float: none;
        width: 120%;
        left: 1%;
        height: 16em;
    }

    p.Header {
        margin-left: 40%;
        margin-top: -3%;
    }

    p.boxHeader {
        margin-left: 10%;
        margin-bottom: 2%;
    }

    p.linkedInHeader {
        margin-left: 38%;
        margin-top: -3%;
    }

    div.Description {
        width: 85%;
    }

    div.Description p {
        margin-left: -35%;
    }

    #desktopVersion {
        margin-left: 10%;
        visibility: visible;
    }

    div.graph {
        margin-left: -41%;
        margin-top: 250%;
    }

    .top-banner p.header {
        top: 50%;
    }
}

@media(min-width: 425px) and (max-width: 480px) {
    section {
        width: 80%;
        height: 0%;
        margin: 0;
        display: inline-block;
        position: relative;
    }

    div.githubBox {
        float: none;
        width: 120%;
        left: 1%;
        height: 16em;
    }

    div.linkedinBox {
        float: none;
        width: 120%;
        left: 1%;
        height: 16em;
    }

    p.Header {
        margin-left: 40%;
        margin-top: -3%;
    }

    p.boxHeader {
        margin-left: 10%;
        margin-bottom: 2%;
    }

    p.linkedInHeader {
        margin-left: 38%;
        margin-top: -3%;
    }

    div.Description {
        width: 85%;
    }

    div.Description p {
        margin-left: -35%;
    }

    #desktopVersion {
        margin-left: 10%;
        visibility: visible;
    }

    div.graph {
        margin-left: -41%;
        margin-top: 200%;
    }

    .top-banner p.header {
        top: 50%;
    }
}

@media (min-width:481px) and (max-width:768px) {
    section {
        width: 90%;
        height: 0%;
        margin: 0;
        display: inline-block;
    }

    p.boxHeader {
        margin-left: 10%;
        width: 80%;
    }

    div.githubBox {
        float: none;
        width: 100%;
        left: 5%;
        height: 10em;
    }

    div.linkedinBox {
        float: none;
        width: 100%;
        left: 5%;
        height: 10em;
    }

    p.Header {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: -2%;
    }

    p.linkedInHeader {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: -2%;
    }

    div.graph {
        margin-left: -41%;
        margin-top: 30%;
    }

    div.Description {
        width: 90%;
    }

    div.Description p {
        margin-left: -40%;
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    div.graph {
        margin-left: -40%;
        margin-top: 5%;
    }

    div.Description {
        // width: 90%;
        margin-left: 13%;
    }

    div.Description p {
        margin-left: -40%;
    }

    section {
        width: 75%;
    }

    p.boxHeader {
        margin-left: 25%;
    }
}